<!DOCTYPE html>
<html>
    <head>
        <title>Committy!</title>
        <link rel="stylesheet" href="/assets/css/style.css"></link>
        <link rel="stylesheet" href="/assets/css/cols.css"></link>


        <link rel="canonical" href="{{seo.url}}">
        <meta name="description" content="{{seo.description}}">
        <meta property="og:title" content="{{seo.title}}!">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{seo.url}}">
        <meta property="og:description" content="{{seo.description}}">
        <meta property="og:image" content="{{seo.image}}">
        <meta name="twitter:card" content="summary">
    </head>

    <body>

        <div class="wrap">

            <div class="sidebar">
                <div class="sidebarItem">
                    <h1><img src="/assets/icons/committy.svg" alt="Committy!"/>!</h1>
                </div>
                <div class="sidebarItem">
                    <p>the <b class="green">collaborative</b> card game that you will <s style="red">not</s> regret unwillingly contributing to</p>
                </div>
                <div class="sidebarItem">
                    <h2>Credits!</h2>
                    <p>
                        Bodged together by <a href="https://11belowstudio.itch.io"><b class="pink">11BelowStudio</b></a>
                    </p>
                    <p>
                        Committy logo was donated by <a href="https://itch.io/profile/delta100"><b class="green">DELTA100</b></a>
                    </p>
                    <p>
                        Produced for the <a href="https://itch.io/jam/sbigjam2023">2023 <i class="yellow">So Bad It's Good</i> Jam</a>!
                      <br/><a href="https://itch.io/jam/sbigjam2023/rate/2204456"><span class="comment">Further Info</span></a>
                    </p>
                </div>
                <div>
                    <p>In terms of cards we currently have:<br>
                    <b class="red" style="font-size:200%;">{{ cardCount }}</b><br/>
                    cards.</p>
                </div>
            </div>
        
        
            <div class="content">
                <h1>Welcome to Committy!</h1>
                <ul>
                    <li>
                        <h2><a href="/submit_card">Card creator!</a></h2>
                    </li>
                    <li>
                        <h2><a href="/view_card/random">View a random card!</a></h2>
                    </li>
                    <li>
                        <h2 onclick="onStartClicked()"><a>Play game clientside</a></h2>
                        <ul><li>Hand size: <input label="hand size" type="number" id="hand_size" name="hand_size" min="3", max="{{maxHand}}" value="3"/></li></ul>
                    </li>
                    <li>
                        <h2><a href="/api">The undocumented API!!!</a></h2>
                    </li>
                    <li>
                        In terms of cards we currently have {{ cardCount }} cards.
                    </li>
                </ul>

                <h2 class="green">Free button!</h2>

                <p>
                <img src="/assets/img/committy_button.jpg" class="button"></img>
                HTML to copy-paste:
                <textarea readonly=true cols=90 rows=1><a href="{{seo.url}}"><img src="https://sbig2023-committy.glitch.me/assets/img/committy_button.jpg"></a></textarea>
                </p>


                <!-- and now, a word from our sponsor -->
                <iframe src="https://john.citrons.xyz/embed?ref=example.com" style="margin-left:auto;display:block;margin-right:auto;max-width:732px;width:100%;height:94px;border:none;"></iframe>

                <!--
                <h2><s>Play the game!</s> placeholder for if/when I do manage to make the game</h2>
                <form>
                    <ul>
                        <li>
                            Your username<br/>
                            <input type="text" maxlength="29" name="username" value="{{ username }}" label="username" required/>
                        </li>
                        <li>
                            <input type="radio" name="host" value="true" label="host game" checked/> Create room<br/>
                            <input type="radio" name="host" value="false" label="join game" /> Join room
                        </li>
                        <li>
                            room to join<br/>
                            <input type="text" name="room_name" value="" label="room to join" size="64" />
                        </li>
                    </ul>
                </form>
                -->
            </div>
        </div>
        <script type="text/javascript" src="/scripts/audio_check.js"></script>
        <script>

            
            const cardCount = {{ cardCount }};
            const maxHand = Math.floor(cardCount/2);

            function onStartClicked(){

                const desiredHandSize = parseInt(document.getElementById("hand_size").value);

                if (desiredHandSize < 3){
                    window.alert(`Uh oh! Your requested hand size (${desiredHandSize}) is too small for a decent game!`);
                    return;
                }
                else if (desiredHandSize > maxHand){
                    window.alert(`Unfortunately, we don't have enough cards to support a game with hands containing ${desiredHandSize} cards.`
                        +"\n"+
                        `Consider contributing ${cardCount - (parseInt(maxHand) * 2)} more cards so you can actually do that.`
                    );
                }

                window.location = `draw_hands/${desiredHandSize}`;
            }
        </script>
    </body>
</html>