<!DOCTYPE html>
<html>
    <head>
        <title>Committy!</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/results.css"/>
        <link rel="stylesheet" type="text/css" href="../public/assets/css/results.css"/>
    </head>
    <body>
        <div style="display: block; position: center;">
            <div id="veryproper" ></div>
        </div>

        <div class="scroller"> <!--<div class="bigMarq">-->
            <div class ="scroller scroller_container" style="animation-duration:125s;" ><!--<marquee class="bigMarq" behavior="slide" direction="up">-->
                <div class="mid">
                    <h1 style="text-decoration: underline;">The Declaration of the Committy</h1>
                </div>
                <div class="just">
                    <p>
                        <b>IT Is Hereby Declared</b>, in þe presence of and by þe grace and mercy of
                        our most supreme and glorious benevolent overlord and patron of þe Committy,
                        <b>Votebot</b>, þat þe following truþ, hereby established by þe suggestions
                        of my most honourable friends here, shall be enshrined and codified and 
                        referred to as <b>Precedent</b> for all time:
                    </p>
                    <p>
                        <b>Þe Most Esteemed</b> and worshipful card of <b>{{ win.name }}</b>,
                        þe card bearing þe most glorious and most pleasing sigil of <b>#{{ win.id }}</b>
                        in þe Committy deck, as played by my most honourable and respected friend,
                        <b>Player {{ winner }}</b>, is objectively superior and better in every way,
                        shape, and form, boþ measurable and immeasurable, þan þe most unpleasant
                        and inferior and þoroughly abhorrent card of <b>{{ lose.name }}</b>, bearing þe
                        unimpressive and þoroughly resentful mark of <b>#{{ lose.id }}</b>, as played by
                        my slightly less respectful and slightly less honourable friend,
                        <b>Player {{ loser }}</b>.
                    </p>
                    <p>
                        <b>Henceforþ</b>, let it be ensured þat, wheresoe'er þe Card of <b>{{ win.name }}</b>
                        is
                        put in contention against þe Card of <b>{{ lose.name }}</b>, þe most wise and learned
                        individual whom played þe Card of <b>{{ win.card }}</b> shall have
                        <b>Victory</b> most promptly
                        and well-deserved conferred upon þem, in recognition of þis newly established
                        <b>Precedent</b>.
                    </p>
                    <p>
                        <b>Furþermore</b>, let it be also known þat any such unclean and uncultured
                        <b>Heretic</b> whom
                        disrespects þis <b>Most Glorious Precedent</b> shall most promptly <b>Snuff It</b>,
                        for such is þe only just punishment for þose whom disregard such obvious and
                        most self-evident <b>Precedent</b>.
                    </p>
                    <p>
                        <b>Þis has been Decreed</b> by þe Committy, wiþ þe grace and glory of our most
                        supreme Overlord and Patron of þe Committy <b>Votebot</b>, on second number {{ when.second }}
                        of þe minute bearing þe number {{ when.minute }} of þe hour numbered {{ when.hour }}
                        of þe {{when.day}} bearing þe day number {{ when.date }} of þe monþ number {{when.month}} of þe Year Of 
                        Our Most Glorious Supreme Suggestor <b>Votebot</b> {{when.year}}.
                    </p>
                </div>
                <div class="mid hidden" id="amen">
                    <h2>
                        <a href="/">Amen!</a>
                    </h2>
                </div>
            </div><!--</marquee>-->
        </div>

        <script type="text/javascript" src="../public/scripts/speech_synth.js"></script>
        <script type="text/javascript" src="/scripts/speech_synth.js"></script>
        
        <script type="text/javascript" src="../public/imports/howler.min.js"></script>
        <script type="text/javascript" src="/imports/howler.min.js"></script>
        

        <script type="text/javascript" src="/scripts/audio_check.js"></script>
        <script>
            // TODO: record audio reading out the precedent declaration
            // TODO: play aforementioned audio

            let bgAudio;

            window.addEventListener("tts_done", e=>{
                startLegalese();
            });

            function showAmen(){
                bgAudio.volume(1.0);
                document.getElementById("amen").classList.remove("hidden");
            }

            function play_bg(){

            }

            async function startLegalese(){

                bgAudio = new Howl({
                    src: ["/assets/audio/legalese_theme.ogg"],
                    html5: true,
                    loop: true,
                    volume: 1.0
                });
                bgAudio.play();

                //TODO: start audio

                await sleep(1_000);

                // TODO: start speech

                //var audio = new Audio("../public/assets/audio/new_precedent.ogg");
                
                var speech = new Howl({
                    src: ["/assets/audio/new_precedent.ogg"],
                    html5: true,
                    onend: () => showAmen(),
                    volume: 1.0
                });
                bgAudio.volume(0.5);
                speech.play();
                
                //audio.play();
            }


            window.onload = async() => {

                await sleep(1_000);

                speak_this("The Declaration of the Committy");
            }


        </script>
    </body>
</html>