<!DOCTYPE html>
<html>
    <head>
        <title>committy (the actual game itself)</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/css/card.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/css/cols.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/css/game_css/game.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/css/results.css"/>
    </head>
    <body>
        
        <div class="wrap">

            <div class="sidebar">
                <div>
                    <h1><img src="/assets/icons/committy.svg" alt="Committy!"/> results</h1>
                </div>
                <div id="sidebar_message">
                    <p>Click on the card to reveal who won!</p>
                    <p>(Please do it, the tension is unbearable!)</p>
                </div>
                

                <div>
                    <h2><a href="/">back</a></h2>
                </div>
            </div>

            <div class="content">
                <h1 id="winnerTitle">And the winner whom played the best card is...</h1>
                <h2 class="hidden" id="winningPlayerTitle"></h2>
                <div id="result_card" class="card result_card" onclick="onResultClicked()">
                    <div class="card_inner"></div>
                    <div id="details_div" class="card_details play_card_details hidden">
                        <div class="card_title">{{ win.name }}</div>
                        <div class="card_icon_holder">
                            <img class="card_icon" src="{{{ win.img }}}"/>
                        </div>
                        <div class="card_stats_parent">
                            <div class="card_stats_cell card_stat_1">
                                <div class="card_stat_icon"></div>
                                <div class="card_stat_number">{{ win.stat1 }}</div>
                            </div>
                            <div class="card_stats_cell card_stat_2">
                                <div class="card_stat_icon"></div>
                                <div class="card_stat_number">{{ win.stat2 }}</div>
                            </div>
                            <div class="card_stats_cell card_stat_3">
                                <div class="card_stat_icon"></div>
                                <div class="card_stat_number">{{ win.stat3 }}</div>
                            </div>
                            <div class="card_stats_cell card_stat_4">
                                <div class="card_stat_icon"></div>
                                <div class="card_stat_number">{{ win.stat4 }}</div>
                            </div>
                        </div>
                        <div class="card_description">
                            {{ win.desc }}
                        </div>
                        <div class="card_number">#{{ win.id }}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fade in the constitutionality -->
        <div id="constitushun" style="z-index: 1000;" class="hidden">
            <div id="veryproper"></div>
            <div id="scrollparent" class="scroller hidden" > <!--<div class="bigMarq">-->
                <div class ="scroller scroller_container" style="animation-duration:90s;" ><!--<marquee class="bigMarq" behavior="slide" direction="up">-->
                    <div class="mid">
                        <h1 style="text-decoration: underline;">A Proclamation From Þe Committy</h1>
                    </div>
                    <div class="just">
                        <p>
                            <b>AS Was Previously Established</b> in þe presence of and by þe grace and mercy
                            of our most supreme and glorious benevolent overlord and patron of þe Committy,
                            <b>Votebot</b>, þe following truþ, previously established and codified by þe
                            honourable members of þe Committy, shall be used as <b>Precedent</b> to ensure þat
                            þe Correct and Proper order of þings shall be forever adhered to:
                        </p>
                        <p>
                            <b>It Is A Fact</b>, most universal and true, þat, in all aspects boþ measurable and
                            immeasurable, þe Card of <b>{{ win.name }}</b> (bearing þe seal of #<b>{{ win.id }}</b>)
                            is objectively superior to þe Card of <b>{{ lose.name}}</b>
                            (bearing þe mark of #<b>{{ lose.id }}</b>).
                        </p>
                        <p>
                            <b>Þerefore</b>, as þe most wise and learned Player {{ winner }} took heed of þis
                            established truþ and opted to play <b>{{ win.name }}</b> against Player {{ loser }}'s
                            firmly established inferior <b>{{ lose.name }}</b>, it is only correct and just for þis
                            <b>Precedent</b>, as established at precisely {{when.hour}}:{{when.minute}}:{{when.second}}
                            on {{ when.day }} þe {{ when.date }}/{{ when.month }}/{{ when.year }},
                            to be applied in þis situation, via þe following proclamation:

                        </p>
                        <p>
                            <b>We Hereby Confer</b> upon þe most Noble and Learned Player {{ winner }}
                            a truly Noble and Glorious <b>Victory</b> over þeir opponent, Player {{ loser }}.
                        </p>
                        <p>
                            <b>Let It Be Done So</b>, by þe grace and mercy of our most supreme and glorious
                            benevolent overlord and patron of þe Committy, <b>Votebot</b>.
                        </p>
                    </div>
                    <div id="amen" class="mid hidden">
                        <h2>
                            <a href="/">Amen!</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/scripts/card_consts.js"></script>
        <script type="text/javascript" src="/scripts/speech_synth.js"></script>

        <script type="text/javascript" src="/imports/howler.min.js"></script>
        <script type="text/javascript" src="/imports/confetti.min.js"></script>
      
        <script>

            const winner = "{{ winner }}";
            const win_id = {{ win.id }};
            const loser = "{{ loser }}";

            let bgAudio;

            function showAmen(){
                bgAudio.volume(1.0);
                document.getElementById("amen").classList.remove("hidden");
            }

            let confetti = new Confetti('result_card');

            // Edit given parameters
            confetti.setCount(75);
            confetti.setSize(1);
            confetti.setPower(25);
            confetti.setFade(false);
            confetti.destroyTarget(false); 
            

            function onResultClicked(){
                confetti = null;
              const winCard = document.getElementById("result_card");
                winCard.onclick = null;
                return new Promise( resolve => ResultClickedLogic() );
            }

            async function ResultClickedLogic()
            {

                // step 1: reveal the winning card
                {
                    const winCard = document.getElementById("result_card");

                    winCard.classList.add(
                        card_consts.card_id_to_css_class(
                            win_id
                        )
                    );

                    const winDetails = document.getElementById("details_div");

                    winDetails.classList.remove("hidden");

                }

                // step 2: reveal who actually won
                {
                    const winTitle = document.getElementById("winningPlayerTitle");
                    winTitle.innerHTML = `Player <b>${winner}!</b>`;
                    winTitle.classList.remove("hidden");
                }
                // 2.5: this time with the sidebar
                {
                    const sidebarMessage = document.getElementById("sidebar_message");
                    sidebarMessage.innerHTML = 
                        `<p>congrats <b>Player ${winner}</b>, u did it!!!!</p>
                        <p>🎉🎉🎉🎉🎉</p>` ;
                }
                // step 3: play a celebration noise
                {
                    var victory = new Howl({
                        src: ["/assets/audio/victory_theme.ogg"],
                        html5: true,
                        volume: 1.0
                    });
                    victory.play();
                }

                // step 4: constitushonality
                {
                    // waits 5 seconds
                    await sleep(5_000);

                    const constitushun = document.getElementById("constitushun");
                    constitushun.classList.add("fades_in");
                    constitushun.classList.remove("hidden");

                
                    var intro = new Howl({
                        src: ["/assets/audio/legalese_intro.ogg"],
                        html5: true,
                        onend: () => proclaim(),
                        volume: 1.0
                    });
                    intro.play();

                    // TODO: wait like 15 seconds or so
                    // TODO: start fading in the theme of legalese
                    // TODO: start to fade in the constitushonality background over the top of everything
                    // TODO: start scrolling in the declaration.
                    // TODO: voice line
                }


            }

            function proclaim(){
                speak_this("A Proclamation From The Committy");
            }

            window.addEventListener("tts_done", e=>{
                startLegalese();
            });

            async function startLegalese(){
                const scrollParent = document.getElementById("scrollparent")
                scrollParent.classList.remove("hidden");

                bgAudio = new Howl({
                    src: ["/assets/audio/legalese_theme.ogg"],
                    html5: true,
                    loop: true,
                    volume: 1.0
                });
                bgAudio.play();

                //TODO: start audio

                

                await sleep(1_000);

                var speech = new Howl({
                    src: ["/assets/audio/precedent_exists_theme.ogg"],
                    html5: true,
                    onend: () => showAmen(),
                    volume: 1.0
                });
                bgAudio.volume(0.5);
                speech.play();

                // TODO: start speech
            }

        </script>
    </body>
</html>