<!DOCTYPE html>
<html>
    <head>
        <title>
            {{seo.title}}
        </title>
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/card.css">

        <link rel="canonical" href="{{seo.url}}">
        <meta name="description" content="{{seo.description}}">
        <meta property="og:title" content="{{seo.title}}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{seo.url}}">
        <meta property="og:description" content="{{seo.description}}">
        <meta property="og:image" content="{{seo.image}}">
        <meta name="twitter:card" content="summary">

        <meta name="robots" content="noindex, nofollow">
    </head>
    <body>

        <div class="wrap">

            <div class="sidebar">
                <div>
                    <h1>the <br><img src="/assets/icons/committy.svg" alt="Committy!"/><br>card viewer</h1>
                </div>
                <div>
                    <p>
                        Currently viewing<br>
                        <a href="/view_card/{{card.id}}"><code>/view_card/{{card.id}}</code></a>
                    </p>
                </div>

                <div>
                    <h2><a href="/">back</a></h2>
                </div>
                <div>
                    <h2>
                        <a href="/submit_card"><b>Create a better card!!!</b></a>
                    </h2>
                </div>
            </div>

            <div class="content" style="width:100%;">

                

                <h2>
                    card #{{card.id}}
                </h2>
                <h3>
                    <i>{{card.name}}</i>
                </h3>

                
        
                <div class="card {{ card.colour }}" style="width:250px; height: 350px;">
                    <div class="card_title">{{card.name}}</div>
                    <div class="card_inner"></div>
                    <div class="card_icon_holder">
                        <img class="card_icon" src="{{{ card.img }}}"/>
                    </div>
                    <div class="card_stats_parent">
                        <div class="card_stats_cell card_stat_1">
                            <div class="card_stat_icon"></div>
                            <div class="card_stat_number">{{card.stat1}}</div>
                        </div>
                        <div class="card_stats_cell card_stat_2">
                            <div class="card_stat_icon"></div>
                            <div class="card_stat_number">{{card.stat2}}</div>
                        </div>
                        <div class="card_stats_cell card_stat_3">
                            <div class="card_stat_icon"></div>
                            <div class="card_stat_number">{{card.stat3}}</div>
                        </div>
                        <div class="card_stats_cell card_stat_4">
                            <div class="card_stat_icon"></div>
                            <div class="card_stat_number">{{card.stat4}}</div>
                        </div>
                    </div>
                    <div class="card_description">
                        {{card.desc}}
                    </div>
                    <div class="card_number">#{{card.id}}</div>
                </div>

                <form action="/api/report" method="post" target="_self">
                    <input type="radio" name="id" value="{{card.id}}" checked style="visibility: hidden;" />
                    <button type="submit">REPORT CARD</button>
                </form> 


                <!-- and now, a word from our sponsor -->
                <iframe src="https://john.citrons.xyz/embed?ref=committy.glitch.me" style="margin-left:auto;display:block;margin-right:auto;max-width:732px;width:100%;height:94px;border:none;"></iframe>

            </div>

        </div>

        

        
    </body>
</html>
